@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --background: #ecf2b8;
  --foreground: #171717;
  --unfocused: #aaa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-unfocused: var(--unfocused);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}