* {
    box-sizing: border-box;
}

.z-100 {
    z-index: 100;
}

.link-active {
    color: rgb(10, 88, 202);
}

.technology-grid-1, .technology-grid-2 {
    display: grid;
    grid-template-rows: 3em auto;
}

.technology-grid-1 {
    grid-template-columns: 15% auto;
}

.technology-grid-2 {
    grid-template-columns: auto 15%;
}

.technology-title-1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.technology-title-2 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.technology-image-1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.technology-image-2 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    align-self: start;
}

.technology-image-1, .technology-image-2 {
    width: 80%;
    margin: 0 auto;
}

.technology-description-1 {
    grid-row: 2 / span 2;
    grid-column: 2 / span 1;
    align-self: center;
}

.technology-description-2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    align-self: center;
}

.language-grid-1, .language-grid-2 {
    display: grid;
    width: 60%;
    margin: auto;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto auto;
}

.language-name-1, .language-name-2 {
    grid-row: 1 / span 1;
}

.language-name-1 {
    grid-column: 1 / span 1;
}

.language-name-2 {
    grid-column: 3 / span 2;
}

.language-image-1, .language-image-2 {
    width: 100%;
    grid-row: 1 / span 2;
    align-self: center;
}

.language-image-1 {
    grid-column: 3 / span 1;
}

.language-image-2 {
    grid-column: 1 / span 1;
}

.language-level-1, .language-level-2 {
    grid-row: 2 / span 2;
}

.language-level-1 {
    grid-column: 1 / span 1;
}

.language-level-2 {
    grid-column: 3 / span 1;
}

.position-lg-fixed {
    position: fixed;
}

.nav-lg {
    width: 14%;
    margin-top: 3em;
}

.h-lg-100 {
    height: 100vh;
}

p, span {
    font-size: 1.5em;
}

figcaption, li {
    font-size: 1.2em;
}

.list-title {
    font-size: 1.2em;
    font-weight: bold;
}

li > p {
    font-size: 1em;
    margin-bottom: 0;
}

.link {
    text-decoration: none;
    color: grey;
    background: linear-gradient(to right, white, white), linear-gradient(grey, grey);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.link:hover {
    color: grey;
    background-size: 0 0.1em, 100% 0.1em;
}

.opacity-lg-50 {
    opacity: 0.5;
}

.project-link {
    text-decoration: none;
    color: white;
    width: 100%;
    text-shadow: 0 0 5px black;
    position: relative;
    text-align: center;
    transition: opacity 0.3s;
}

.project-link:hover {
    color: white;
    opacity: 1;
}

.project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-image {
    width: 100%;
}

.bottom-1 {
    bottom: 1%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.github-img {
    background-color: white;
    width: 20%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

@media only screen and (max-width: 992px) {
    .position-lg-fixed {
        position: relative;
    }
    
    .nav-lg {
        width: 100%;
        margin-top: 0;
    }

    .technology-grid-1, .technology-grid-2 {
        display: block;
    }

    .technology-image-1, .technology-image-2 {
        display: inline-block;
        width: 20%;
        position: relative;
        left: 30%;
    }

    .technology-title-1, .technology-title-2 {
        display: inline-block;
        width: 50%;
    }

    .technology-description-1, .technology-description-2 {
        margin-bottom: 5%;
    }

    .nav-container {
        height: fit-content;
    }

    .h-lg-100 {
        height: auto;
    }

    .opacity-lg-50 {
        opacity: 1;
    }

    .minh-100 {
        min-height: 100vh;
    }
}

@media only screen and (max-width: 768px) {
    p, span {
        font-size: 1em;
    }

    figcaption, li {
        font-size: 1em;
    }

    .project-link {
        display: block;
    }
}
